GridLayout {
    background-color:white;
    color: #3F51B5; 
}

.add-bar {  
  padding: 5 10;
}

.item {
    background-color: #3F51B5;
    color: white;
    margin-bottom: 5;
    font-size: 20;
    height: 40;
}

.icon {
  font-family: "fontawesome";    
  font-size: 25;  
  vertical-align: center; 
}

.itemSwipeTemplate {
  background-color: #FFFFFF;
  color: red;  
  vertical-align: center;
}