GridLayout {
    background-color:white;
    color: #3F51B5; 
}

.add-bar {  
  padding: 5 10;
}
.add-bar Label {
  font-family: "fontawesome";  
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}

.item {
    background-color: #3F51B5;
    color: white;
}