button {
    font-family: "fontawesome";
    font-size: 40;
    width:100;
    height:100;
    border-width:1;    
    border-radius:50;
    background-color:white;
    color: #3F51B5;
}

.label {
    color: white;
    font-size: 35;   
}
.number {  
    margin-top: 35;
    font-family: "BebasNeueBold";
    font-size: 140;
    color: #FFFFFF;
    text-align: center;    
} 
